@font-face{
    font-family: "KaiseiDecol-Regular";
    src: url(../../public/font/KaiseiDecol-Regular.ttf) format("truetype");
}

@font-face{
    font-family: 'NanumMyeongjo';
    src: url(../../public/font/NanumMyeongjo-Regular.ttf) format("truetype");
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color: #9bbda7;
    padding: 52px 72px;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-title{
    font-size: 1.2rem;
    font-family: 'KaiseiDecol-Regular';
}

.info-text-row{
    display: flex;
    gap:16px;
}

.info-text-wrapper{
    display: flex;
    gap: 4px;
    font-family: 'NanumMyeongjo';
}


.info-text-1{
    color: #d8d8d8;
}

.info-text-2{
    color: #f0f0f0;
}

.footer-subtitle{
    font-family: 'NanumMyeongjo';
}