@font-face{
    font-family: "KaiseiDecol-Regular";
    src: url(../../public/font/KaiseiDecol-Regular.ttf) format("truetype");
}

@font-face{
    font-family: 'NanumMyeongjo';
    src: url(../../public/font/NanumMyeongjo-Regular.ttf) format("truetype");
}

/* Home*/
.home-container{
    width: 100%;
}

/*Menu*/
.menu-container{
    display: flex;
    width: 100%;
    font-family: "KaiseiDecol-Regular";
}

.menu-section{
    display: flex;
    width: 50%;
    position: relative;
}

.menu-section::before{
    content: '';
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    border: 2px solid white;


}

.menu-perfume{
    width: 100%;
    display: block;
}

.text-overlay{
    position: absolute;
    color: white;
    font-size: 48px;

}

.text-perfume{
    left: 28px;
    bottom: 28px;
}

.text-diffuser{
    right: 28px;
    bottom: 28px;
}

/*Banner**/
.banner-container{
    width: 100%;
}

.info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 160px;
  }
  
  .info-left-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .info-image {
    position: relative;
    width: 360px;
    height: auto;
  }
  
  .info-about-text {
    writing-mode: vertical-rl;
    font-size: 45px;
    margin-right: 20px; 
    font-family: "KaiseiDecol-Regular";     
    position: absolute;          
    bottom: 0;                    
    right: -90px;

  }
  
  .info-image-box {
    display: flex;
    align-items: center;
  }

  .info-text-section {
    font-family: 'NanumMyeongjo';
    max-width: 500px;
  }
  
  .info-text-section h2 {
    font-size: 37px;         
    font-weight: 600;        
    line-height: 1.4;        
    margin-bottom: 40px;    
    font-family: 'NanumMyeongjo';
  }
  
  .info-text-section p {
    font-size: 14px;         
    line-height: 1.4;        
    color: #444;  
    font-weight: 600;          
  }
  